

#blue {
    background-color: #191645;
}

#img {
    display: flex;
    flex-wrap: nowrap;
}
main  {    
    width: 1000px;
    margin: 0 auto;
    order: 1;
    background-color: white;
    
}
nav {
    width: 1000px;
    margin: 0 auto;
    background-color: #191645;
}

nav ul {
        list-style-type: none;
        width: 1000;
        margin: 0 auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }


 nav li {display: inline;}

 nav a {
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
}

nav a:link {color: white}

nav a:hover {
    background-color: white;
    color: #191645;
}
h1 {
    width: 1000px;
    margin: 0 auto
}
#About_Us {
    width: 800px;
    margin: 0 auto;
}
.margin {
    padding-right: 449px;
}
.p {
    text-indent: 2.5em;
}
.background {
    background-color: #191645;
}

h1 {
    color: white;
    font-family: 'Cardo', serif;
}
h2 {
    color: #191645;
    font-family: 'Cardo', serif;
}

h3 {
    color: #191645;
    font-family: 'Cardo', serif;
}    

h4 {
    color:#191645;
    font-family: 'Cardo', serif;
}

p {
    font-family: 'Josefin Sans', sans-serif;
}

ul {
    font-family: 'Josefin Sans', sans-serif;
}


footer {
  text-align: center;
}

header,
footer {
  padding: 20px 0;
}

.show-items {
  display: flex;
}

nav .toggle {
  align-self: flex-end;
  position: absolute;
  cursor: pointer;
}

article
 {
  padding: 200px 0;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  nav .menu-label {
    display: none;
  }

  nav ul {
    display: flex;
    flex-direction: row;
  }

  nav ul li {
    padding-right: 8px;
  }

  nav .toggle {
    display: none;
  }

  main {
    display: flex;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  nav ul,
  main {
    width: 1200px;
    margin: 0 auto;
  }
}
label { 
    float: left; clear: left; display: block;
    width: 100px; padding-right: 10px;
    margin-top: 10px; text-align: right;
}
input {
    display: block; margin-top: 10px;
}

input[ type="submit"] {margin-left: 110px;}

/*buttons*/
input[type="reset"] {
    color: #0e7a0d;
    padding: 12px 20px;
    border: 1px solid #0e7a0d;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="reset"]:hover {
    background-color: #d1efe3;
  }
  
  input[type="submit"] {
    background-color: #0e7a0d;
    color: white;
    padding: 12px 20px;
    border: 1px solid #0e7a0d;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #00ab66;
  }

  /*structure*/
  .wrapper-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .wrapper-button {
    display: flex;
    justify-content: space-between;
  }
/*form*/
input,
select,
textarea {
  font-size: 1em;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

textarea {
  font-family: sans-serif;
}

fieldset {
  margin-bottom: 16px;
  border: 1px solid #ccc;
}

.label-required {
  font-size: 0.8rem;
  color: red;
}
