

#blue {
    background-color: #191645;
}

#img {
    display: flex;
    flex-wrap: nowrap;
}
main  {    
    width: 1000px;
    margin: 0 auto;
    order: 1;
    background-color: white;
    
}
nav {
    width: 1000px;
    margin: 0 auto;
    background-color: #191645;
}

nav ul {
        list-style-type: none;
        width: 1000;
        margin: 0 auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }


 nav li {display: inline;}

 nav a {
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
}

nav a:link {color: white}

nav a:hover {
    background-color: white;
    color: #191645;
}
h1 {
    width: 1000px;
    margin: 0 auto
}
#About_Us {
    width: 800px;
    margin: 0 auto;
}
.margin {
    padding-right: 449px;
}
.p {
    text-indent: 2.5em;
}
.background {
    background-color: #191645;
}

h1 {
    color: white;
    font-family: 'Cardo', serif;
}
h2 {
    color: #191645;
    font-family: 'Cardo', serif;
}

h3 {
    color: #191645;
    font-family: 'Cardo', serif;
}    

h4 {
    color:#191645;
    font-family: 'Cardo', serif;
}

p {
    font-family: 'Josefin Sans', sans-serif;
}

ul {
    font-family: 'Josefin Sans', sans-serif;
}