
#blue {
    background-color: #191645;
    background-image: url(Images/hard-hat.jpg);
    box-shadow: inset 0 0 0 1000px rgba(25,22,69,.7); 
    /*Used code from: https://stackoverflow.com/questions/9182978/semi-transparent-color-layer-over-background-image for this part*/
    background-position: right;
    background-repeat: no-repeat;
    color: white;
}
/*This is for the header background and colours ^*/
#jm {
    display:flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
}

/*This makes the nav blend with the header (it took me awhile to figure this out)*/

img {
    float: right;   
}

iframe {
    float: right;
}

main  {    
    width: 1000px;
    margin: 0 auto;
    background-color: white;
    
}
nav {
    width: 1000px;
    margin: 0 auto;
    flex-direction: column;
}

nav ul {
        list-style-type: none;
        width: 1000;
        margin: 0 auto;
        padding-top: 15px;
        padding-bottom: 15px;
        flex-direction: column;
    }

 nav a {
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
}

nav a:link {color: white}

nav a:hover {
    background-color: white;
    color: chocolate;
}
h1 {
    width: 1000px;
    margin: 0 auto
}
#About_Us {
    width: 800px;
    margin: 0 auto;
}
.margin {
    padding-right: 449px;
}
.p {
    text-indent: 2.5em;
}

.pf {
    flex-wrap: nowrap;
    font-size: 2em;
}

.background {
    background-color: #191645;
}

h1 {
    color: white;
    font-family: 'Cardo', serif;
}
h2 {
    color: #191645;
    font-family: 'Cardo', serif;
}

h3 {
    color: #191645;
    font-family: 'Cardo', serif;
}    

h4 {
    color:#191645;
    font-family: 'Cardo', serif;
}

p {
    font-family: 'Josefin Sans', sans-serif;
}

aside {
    padding: 20px;
    text-align: center;
}

ul {
    font-family: 'Josefin Sans', sans-serif;
}



header,
footer {
  padding: 20px 0;
}


article
 {
  padding: 50px 0;
}


footer {
  background-color: #191645;
  color: white;
  font-family: 'Cardo', serif;
}


/* Small Devices (Mobile phones and up) */
@media (max-width: 480px) {

  img {
    max-width: 100%;
    height: auto;
  }

  nav {
    max-width:480px;
    font-size: x-small;
    flex-direction: column;
  }

  nav li { display: inline-block;
  width: 100%;
  margin: auto;
  max-width: 480px;
  }

nav ul {
  text-align: left;
  flex-direction: column;
}

main {
  float: left;
  padding: 0;
  width: 94%;
  margin: 3%;
}
header {
  float: left;
  padding: 0;
  width: 94%;
  margin: 3%;
  font-size: x-small;
}

img { float: none;
}

#wrapper {
  width: 75%;
  margin: auto;
  max-width: 480px;
}

footer { clear: both;
  font-size: x-small;
}

#blue {
  background-color: #191645;
  background-image: url(Images/hard-hat.jpg);
  box-shadow: inset 0 0 0 1000px rgba(25,22,69,.7);
  background-position: right;
  background-repeat: no-repeat;
  color: white;
  max-width: 480px;
}

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

header {
  width: 75%
}

  nav ul {
    display: flex;
    flex-direction: row;
  }

  nav ul li {
    padding-right: 8px;
  }

  nav .toggle {
    display: none;
  }

  main {
    width: 70%;
  }

  article {
    flex: 2 1 0;
    margin-right: 10px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  nav ul,
  main {
    width: 1200px;
    margin: 0 auto;
  }
}
label { 
    float: left; clear: left; display: block;
    width: 100px; padding-right: 10px;
    margin-top: 10px; text-align: right;
    font-family: 'Cardo', serif;
}
input {
    display: block; margin-top: 10px;
}

input[ type="submit"] {margin-left: 110px;}

/*buttons*/
input[type="reset"] {
    color: chocolate;
    padding: 12px 20px;
    border: 1px solid chocolate;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="reset"]:hover {
    background-color: #ffd8b9;
  }
  
  input[type="submit"] {
    background-color: chocolate;
    color: white;
    padding: 12px 20px;
    border: 1px solid chocolate;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #f0935e;
  }

  /*structure*/
  .wrapper-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .wrapper-button {
    display: flex;
    justify-content: space-between;
  }
/*form*/
input,
select,
textarea {
  font-size: 1em;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="email"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

textarea {
    font-family: 'Josefin Sans', sans-serif;
}

fieldset {
  margin-bottom: 16px;
  border: 1px solid #ccc;
}

.label-required {
  font-size: 0.8rem;
  color: chocolate;
}
